@model int?

@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    if (ViewData.ContainsKey("fieldName"))
    {
        fieldName = ViewData["fieldName"].ToString();
    }

    var initialValue = Model.HasValue ? Model.Value.ToString() : "";
}

<div class="input-group date">
    <input type="text" class="form-control year-datepicker" name="@fieldName" value="@initialValue" autocomplete="off" />
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>