@using GrantCountyAs400.Web.ViewModels.AccountVM
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="All"></div>
    <input type="password" asp-for="OldPassword" placeholder="Old password" /><br />
    <input type="password" asp-for="NewPassword" placeholder="New Password" /><br />
    <input type="submit" value="Reset" />
</form>

