@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home-cards">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default panel-card">
                <div class="panel-body text-center">
                    <i class="glyphicon glyphicon-user gi-5x"></i>
                    <h3 class="panel-header"><a href="@Url.Action("Index", "Personnel")">Accounting</a></h3>
                    <small>Search for Employees and their details.</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default panel-card">
                <div class="panel-body text-center">
                    <i class="glyphicon glyphicon-user gi-5x"></i>
                    <h3 class="panel-header"><a href="@Url.Action("Index", "RealProperty")">Assessment</a></h3>
                    <small>Search for assessments.</small>
                </div>
            </div>
        </div>
    </div>
</section>